In [1]:
# 创建一系列时间
import pandas as pd
rng = pd.date_range('1/1/2011', periods=72, freq='H')
rng[:5]

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [4]:
# 使用时间序列数据做index
import numpy as np
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts.head()

2011-01-01 00:00:00    0.422239
2011-01-01 01:00:00   -0.582188
2011-01-01 02:00:00    3.138903
2011-01-01 03:00:00    0.109868
2011-01-01 04:00:00    0.892963
Freq: H, dtype: float64

In [5]:
# 改变时间频率
converted = ts.asfreq('45Min', method='pad')
converted.head()

2011-01-01 00:00:00    0.422239
2011-01-01 00:45:00    0.422239
2011-01-01 01:30:00   -0.582188
2011-01-01 02:15:00    3.138903
2011-01-01 03:00:00    0.109868
Freq: 45T, dtype: float64

In [6]:
# 每天数据的均值
# resample对数据按照()内重新采样
ts.resample('D').mean()

2011-01-01   -0.252111
2011-01-02   -0.010815
2011-01-03    0.072465
Freq: D, dtype: float64


### 预览
Class|	Remarks|	How to create
----|------|----
Timestamp	|Represents a single time stamp	|to_datetime, Timestamp
DatetimeIndex	|Index of Timestamp	|to_datetime, date_range, DatetimeIndex
Period	|Represents a single time span	|Period
PeriodIndex	|Index of Period	|period_range, PeriodIndex

In [7]:
#Timestamp数据是最基本的时序数据是时间点
pd.Timestamp('2012-05-01')

Timestamp('2012-05-01 00:00:00')

In [11]:
from datetime import datetime
pd.Timestamp(datetime(2012, 5, 1))

Timestamp('2012-05-01 00:00:00')

In [12]:
pd.Timestamp(2012, 5, 1)

Timestamp('2012-05-01 00:00:00')

In [13]:
# Period 表示时间段

pd.Period('2011-01')

Period('2011-01', 'M')

In [14]:
pd.Period('2012-05', freq='D')

Period('2012-05-01', 'D')

In [15]:
# Timestamp and Period 均可转化为index
dates = [pd.Timestamp('2012-05-01'), pd.Timestamp('2012-05-02'), pd.Timestamp('2012-05-03')]

ts = pd.Series(np.random.randn(3), dates)
ts.index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [16]:
periods = [pd.Period('2012-01'), pd.Period('2012-02'), pd.Period('2012-03')]
ts = pd.Series(np.random.randn(3), periods)
ts.index

PeriodIndex(['2012-01', '2012-02', '2012-03'], dtype='period[M]', freq='M')

In [17]:
#字符串等转化成 Timestamps
pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None]))

0   2009-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]

In [18]:
pd.to_datetime(['2005/11/23', '2010.12.31'])

DatetimeIndex(['2005-11-23', '2010-12-31'], dtype='datetime64[ns]', freq=None)

In [19]:
#转化时的无效数据

#设置 errors='coerce' 可转为 NaT (not a time)；errors='raise'返回错误ValueError: Unknown string format
pd.to_datetime(['2009/07/31', 'asd'], errors='raise')

ValueError: Unknown string format

In [20]:
# errors='ignore 忽略无效数据
pd.to_datetime(['2009/07/31', 'asd'], errors='ignore')

array(['2009/07/31', 'asd'], dtype=object)

### 生成 Timestamps序列

In [21]:
dates = [datetime(2012, 5, 1), datetime(2012, 5, 2), datetime(2012, 5, 3)]
index = pd.DatetimeIndex(dates)
index = pd.Index(dates)
index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [22]:
# date_range bdate_range 方法产生序列

pd.date_range('2000-1-1', periods=1000, freq='M')# 1000个月

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31',
               ...
               '2082-07-31', '2082-08-31', '2082-09-30', '2082-10-31',
               '2082-11-30', '2082-12-31', '2083-01-31', '2083-02-28',
               '2083-03-31', '2083-04-30'],
              dtype='datetime64[ns]', length=1000, freq='M')

In [24]:
pd.bdate_range('2012-1-1', periods=250)

DatetimeIndex(['2012-01-02', '2012-01-03', '2012-01-04', '2012-01-05',
               '2012-01-06', '2012-01-09', '2012-01-10', '2012-01-11',
               '2012-01-12', '2012-01-13',
               ...
               '2012-12-03', '2012-12-04', '2012-12-05', '2012-12-06',
               '2012-12-07', '2012-12-10', '2012-12-11', '2012-12-12',
               '2012-12-13', '2012-12-14'],
              dtype='datetime64[ns]', length=250, freq='B')

In [25]:
start = datetime(2011, 1, 1)
end = datetime(2012, 1, 1)
pd.date_range(start, end)

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2011-12-23', '2011-12-24', '2011-12-25', '2011-12-26',
               '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30',
               '2011-12-31', '2012-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [26]:
pd.date_range(start, end, freq='BM')

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29',
               '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30'],
              dtype='datetime64[ns]', freq='BM')

### DatetimeIndex

In [27]:
rng = pd.date_range(start, end, freq='BM')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts.index

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29',
               '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30'],
              dtype='datetime64[ns]', freq='BM')

In [28]:
ts['1/31/2011']# 可以日期字符串index数据

0.14439568464428792

In [29]:
ts['2011']

2011-01-31    0.144396
2011-02-28    1.308557
2011-03-31   -1.446222
2011-04-29    2.445849
2011-05-31    1.709263
2011-06-30   -0.094117
2011-07-29   -0.754575
2011-08-31    0.403733
2011-09-30    1.179335
2011-10-31    1.499188
2011-11-30    0.829537
2011-12-30    0.259246
Freq: BM, dtype: float64

In [31]:
dft = pd.DataFrame(np.random.randn(100000,1),
                  columns=['A'],
                 index=pd.date_range('20130101',periods=100000,freq='T'))

In [32]:
dft['2013']

                            A
2013-01-01 00:00:00 -0.477545
2013-01-01 00:01:00  0.234036
2013-01-01 00:02:00  1.166847
2013-01-01 00:03:00 -0.873448
2013-01-01 00:04:00 -1.679711
2013-01-01 00:05:00  0.840153
2013-01-01 00:06:00 -0.673892
2013-01-01 00:07:00 -0.759327
2013-01-01 00:08:00  1.434083
2013-01-01 00:09:00  0.700347
2013-01-01 00:10:00 -0.299588
2013-01-01 00:11:00 -0.731556
2013-01-01 00:12:00 -0.068991
2013-01-01 00:13:00 -0.013146
2013-01-01 00:14:00  1.408342
2013-01-01 00:15:00 -0.200264
2013-01-01 00:16:00  0.675707
2013-01-01 00:17:00 -0.785004
2013-01-01 00:18:00  0.436293
2013-01-01 00:19:00  0.684038
2013-01-01 00:20:00  0.917021
2013-01-01 00:21:00 -0.927074
2013-01-01 00:22:00 -0.444897
2013-01-01 00:23:00 -0.483204
2013-01-01 00:24:00  2.223770
2013-01-01 00:25:00 -1.167867
2013-01-01 00:26:00 -0.087384
2013-01-01 00:27:00 -0.128358
2013-01-01 00:28:00  0.645909
2013-01-01 00:29:00 -1.565333
...                       ...
2013-03-11 10:10:00  1.970900
2013-03-11 10:11:00 -0.178248
2013-03-11 10:12:00 -1.759035
2013-03-11 10:13:00 -0.290874
2013-03-11 10:14:00  0.350186
2013-03-11 10:15:00 -0.480646
2013-03-11 10:16:00  0.112230
2013-03-11 10:17:00 -0.045146
2013-03-11 10:18:00  1.365268
2013-03-11 10:19:00  0.358550
2013-03-11 10:20:00  1.751933
2013-03-11 10:21:00  0.309935
2013-03-11 10:22:00 -0.146063
2013-03-11 10:23:00  0.502137
2013-03-11 10:24:00  1.506070
2013-03-11 10:25:00  1.203163
2013-03-11 10:26:00  0.323495
2013-03-11 10:27:00  1.826633
2013-03-11 10:28:00  1.455660
2013-03-11 10:29:00  0.488264
2013-03-11 10:30:00 -0.017324
2013-03-11 10:31:00 -0.237562
2013-03-11 10:32:00 -0.992889
2013-03-11 10:33:00 -0.914307
2013-03-11 10:34:00  0.274317
2013-03-11 10:35:00  1.919992
2013-03-11 10:36:00 -0.509849
2013-03-11 10:37:00 -1.924749
2013-03-11 10:38:00  0.642841
2013-03-11 10:39:00 -0.667470

[100000 rows x 1 columns]

In [33]:
dft['2013-1':'2013-2']

                            A
2013-01-01 00:00:00 -0.477545
2013-01-01 00:01:00  0.234036
2013-01-01 00:02:00  1.166847
2013-01-01 00:03:00 -0.873448
2013-01-01 00:04:00 -1.679711
2013-01-01 00:05:00  0.840153
2013-01-01 00:06:00 -0.673892
2013-01-01 00:07:00 -0.759327
2013-01-01 00:08:00  1.434083
2013-01-01 00:09:00  0.700347
2013-01-01 00:10:00 -0.299588
2013-01-01 00:11:00 -0.731556
2013-01-01 00:12:00 -0.068991
2013-01-01 00:13:00 -0.013146
2013-01-01 00:14:00  1.408342
2013-01-01 00:15:00 -0.200264
2013-01-01 00:16:00  0.675707
2013-01-01 00:17:00 -0.785004
2013-01-01 00:18:00  0.436293
2013-01-01 00:19:00  0.684038
2013-01-01 00:20:00  0.917021
2013-01-01 00:21:00 -0.927074
2013-01-01 00:22:00 -0.444897
2013-01-01 00:23:00 -0.483204
2013-01-01 00:24:00  2.223770
2013-01-01 00:25:00 -1.167867
2013-01-01 00:26:00 -0.087384
2013-01-01 00:27:00 -0.128358
2013-01-01 00:28:00  0.645909
2013-01-01 00:29:00 -1.565333
...                       ...
2013-02-28 23:30:00  0.531507
2013-02-28 23:31:00  1.008726
2013-02-28 23:32:00  0.305949
2013-02-28 23:33:00 -0.313810
2013-02-28 23:34:00  0.802392
2013-02-28 23:35:00  0.419971
2013-02-28 23:36:00 -0.188413
2013-02-28 23:37:00  0.792084
2013-02-28 23:38:00 -0.396405
2013-02-28 23:39:00 -0.980623
2013-02-28 23:40:00  0.164073
2013-02-28 23:41:00  0.359804
2013-02-28 23:42:00  0.471817
2013-02-28 23:43:00 -0.849276
2013-02-28 23:44:00  0.231360
2013-02-28 23:45:00 -0.360315
2013-02-28 23:46:00  1.496276
2013-02-28 23:47:00 -1.009322
2013-02-28 23:48:00 -1.292809
2013-02-28 23:49:00  0.886717
2013-02-28 23:50:00 -0.850844
2013-02-28 23:51:00  1.257403
2013-02-28 23:52:00 -1.285575
2013-02-28 23:53:00  0.236458
2013-02-28 23:54:00 -0.819424
2013-02-28 23:55:00 -1.552891
2013-02-28 23:56:00  1.735344
2013-02-28 23:57:00 -0.288835
2013-02-28 23:58:00  0.251200
2013-02-28 23:59:00 -0.512188

[84960 rows x 1 columns]

In [34]:
dft['2013-1':'2013-2-28 00:00:00']

                            A
2013-01-01 00:00:00 -0.477545
2013-01-01 00:01:00  0.234036
2013-01-01 00:02:00  1.166847
2013-01-01 00:03:00 -0.873448
2013-01-01 00:04:00 -1.679711
2013-01-01 00:05:00  0.840153
2013-01-01 00:06:00 -0.673892
2013-01-01 00:07:00 -0.759327
2013-01-01 00:08:00  1.434083
2013-01-01 00:09:00  0.700347
2013-01-01 00:10:00 -0.299588
2013-01-01 00:11:00 -0.731556
2013-01-01 00:12:00 -0.068991
2013-01-01 00:13:00 -0.013146
2013-01-01 00:14:00  1.408342
2013-01-01 00:15:00 -0.200264
2013-01-01 00:16:00  0.675707
2013-01-01 00:17:00 -0.785004
2013-01-01 00:18:00  0.436293
2013-01-01 00:19:00  0.684038
2013-01-01 00:20:00  0.917021
2013-01-01 00:21:00 -0.927074
2013-01-01 00:22:00 -0.444897
2013-01-01 00:23:00 -0.483204
2013-01-01 00:24:00  2.223770
2013-01-01 00:25:00 -1.167867
2013-01-01 00:26:00 -0.087384
2013-01-01 00:27:00 -0.128358
2013-01-01 00:28:00  0.645909
2013-01-01 00:29:00 -1.565333
...                       ...
2013-02-27 23:31:00 -0.396924
2013-02-27 23:32:00 -0.902858
2013-02-27 23:33:00 -1.929475
2013-02-27 23:34:00 -0.158358
2013-02-27 23:35:00  1.221926
2013-02-27 23:36:00 -1.325303
2013-02-27 23:37:00 -1.625649
2013-02-27 23:38:00 -1.341327
2013-02-27 23:39:00  0.407917
2013-02-27 23:40:00  0.555222
2013-02-27 23:41:00 -0.931116
2013-02-27 23:42:00 -0.990943
2013-02-27 23:43:00  0.682509
2013-02-27 23:44:00 -0.114535
2013-02-27 23:45:00  0.865254
2013-02-27 23:46:00 -1.406367
2013-02-27 23:47:00  0.758275
2013-02-27 23:48:00 -3.578551
2013-02-27 23:49:00  1.997187
2013-02-27 23:50:00  0.621319
2013-02-27 23:51:00 -0.343089
2013-02-27 23:52:00 -1.227933
2013-02-27 23:53:00 -0.098101
2013-02-27 23:54:00  1.651826
2013-02-27 23:55:00 -0.907534
2013-02-27 23:56:00  0.539948
2013-02-27 23:57:00 -0.606369
2013-02-27 23:58:00  1.193133
2013-02-27 23:59:00 -1.117494
2013-02-28 00:00:00  0.588035

[83521 rows x 1 columns]

In [37]:
dft[datetime(2013, 1, 1, 10, 12, 0):datetime(2013, 2, 28, 10, 12, 0)]

                            A
2013-01-01 10:12:00 -0.403008
2013-01-01 10:13:00  0.888679
2013-01-01 10:14:00  0.277742
2013-01-01 10:15:00 -0.779419
2013-01-01 10:16:00  1.141990
2013-01-01 10:17:00 -0.673308
2013-01-01 10:18:00  0.398131
2013-01-01 10:19:00  2.425367
2013-01-01 10:20:00  0.222573
2013-01-01 10:21:00  0.970120
2013-01-01 10:22:00 -0.936384
2013-01-01 10:23:00  0.265574
2013-01-01 10:24:00 -0.674641
2013-01-01 10:25:00  0.382293
2013-01-01 10:26:00 -0.002697
2013-01-01 10:27:00  0.317170
2013-01-01 10:28:00 -0.588778
2013-01-01 10:29:00  0.012202
2013-01-01 10:30:00 -0.454589
2013-01-01 10:31:00  0.490868
2013-01-01 10:32:00  1.248332
2013-01-01 10:33:00  1.432132
2013-01-01 10:34:00 -0.680582
2013-01-01 10:35:00 -0.618111
2013-01-01 10:36:00  2.043680
2013-01-01 10:37:00 -0.769382
2013-01-01 10:38:00 -0.630921
2013-01-01 10:39:00 -0.565366
2013-01-01 10:40:00 -0.952214
2013-01-01 10:41:00  1.423487
...                       ...
2013-02-28 09:43:00 -0.158017
2013-02-28 09:44:00 -0.558770
2013-02-28 09:45:00 -1.570252
2013-02-28 09:46:00 -0.081530
2013-02-28 09:47:00 -0.282629
2013-02-28 09:48:00  0.158429
2013-02-28 09:49:00  1.146360
2013-02-28 09:50:00  0.306264
2013-02-28 09:51:00 -0.598188
2013-02-28 09:52:00 -0.410423
2013-02-28 09:53:00 -3.111699
2013-02-28 09:54:00 -0.329579
2013-02-28 09:55:00  0.995677
2013-02-28 09:56:00 -1.979169
2013-02-28 09:57:00 -0.128574
2013-02-28 09:58:00  1.454180
2013-02-28 09:59:00 -2.091243
2013-02-28 10:00:00  0.007429
2013-02-28 10:01:00  0.553544
2013-02-28 10:02:00  1.037222
2013-02-28 10:03:00  0.114026
2013-02-28 10:04:00 -0.375370
2013-02-28 10:05:00 -0.244871
2013-02-28 10:06:00 -1.044481
2013-02-28 10:07:00  0.971493
2013-02-28 10:08:00  0.472227
2013-02-28 10:09:00  0.444436
2013-02-28 10:10:00  0.081283
2013-02-28 10:11:00 -0.387014
2013-02-28 10:12:00 -0.430022

[83521 rows x 1 columns]

In [38]:
#  truncate 对时间index 的数据进行切片
ts.truncate(before='10/31/2011', after='12/31/2011')

2011-10-31    1.499188
2011-11-30    0.829537
2011-12-30    0.259246
Freq: BM, dtype: float64

In [39]:
pd.date_range(start, periods=10, freq='2h20min')

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 02:20:00',
               '2011-01-01 04:40:00', '2011-01-01 07:00:00',
               '2011-01-01 09:20:00', '2011-01-01 11:40:00',
               '2011-01-01 14:00:00', '2011-01-01 16:20:00',
               '2011-01-01 18:40:00', '2011-01-01 21:00:00'],
              dtype='datetime64[ns]', freq='140T')

In [41]:
#Resampling 重新采样
ts.resample('5Min').mean()

2011-01-31 00:00:00    0.144396
2011-01-31 00:05:00         NaN
2011-01-31 00:10:00         NaN
2011-01-31 00:15:00         NaN
2011-01-31 00:20:00         NaN
2011-01-31 00:25:00         NaN
2011-01-31 00:30:00         NaN
2011-01-31 00:35:00         NaN
2011-01-31 00:40:00         NaN
2011-01-31 00:45:00         NaN
2011-01-31 00:50:00         NaN
2011-01-31 00:55:00         NaN
2011-01-31 01:00:00         NaN
2011-01-31 01:05:00         NaN
2011-01-31 01:10:00         NaN
2011-01-31 01:15:00         NaN
2011-01-31 01:20:00         NaN
2011-01-31 01:25:00         NaN
2011-01-31 01:30:00         NaN
2011-01-31 01:35:00         NaN
2011-01-31 01:40:00         NaN
2011-01-31 01:45:00         NaN
2011-01-31 01:50:00         NaN
2011-01-31 01:55:00         NaN
2011-01-31 02:00:00         NaN
2011-01-31 02:05:00         NaN
2011-01-31 02:10:00         NaN
2011-01-31 02:15:00         NaN
2011-01-31 02:20:00         NaN
2011-01-31 02:25:00         NaN
                         ...
2011-12-29 21:35:00         NaN
2011-12-29 21:40:00         NaN
2011-12-29 21:45:00         NaN
2011-12-29 21:50:00         NaN
2011-12-29 21:55:00         NaN
2011-12-29 22:00:00         NaN
2011-12-29 22:05:00         NaN
2011-12-29 22:10:00         NaN
2011-12-29 22:15:00         NaN
2011-12-29 22:20:00         NaN
2011-12-29 22:25:00         NaN
2011-12-29 22:30:00         NaN
2011-12-29 22:35:00         NaN
2011-12-29 22:40:00         NaN
2011-12-29 22:45:00         NaN
2011-12-29 22:50:00         NaN
2011-12-29 22:55:00         NaN
2011-12-29 23:00:00         NaN
2011-12-29 23:05:00         NaN
2011-12-29 23:10:00         NaN
2011-12-29 23:15:00         NaN
2011-12-29 23:20:00         NaN
2011-12-29 23:25:00         NaN
2011-12-29 23:30:00         NaN
2011-12-29 23:35:00         NaN
2011-12-29 23:40:00         NaN
2011-12-29 23:45:00         NaN
2011-12-29 23:50:00         NaN
2011-12-29 23:55:00         NaN
2011-12-30 00:00:00    0.259246
Freq: 5T, dtype: float64